.item {
	margin: 0;
	padding: 0;
	background: url("http://placegant.me/pg/300/300");
}

.border {
	border: 1px solid white;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: box-shadow;
	-moz-transition: box-shadow;
	transition: box-shadow;
}

.caption {
	position: absolute;
	background-color: black;
	top: 0;
	right: 0;
	color: white;
	padding: 5px 10px 5px 20px;
}

.info {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 5px 10px 5px 10px;
	bottom: 0;
	width: 100%;
	height: 20%;

}

.header {
	width: 100%;
	height: 65px;
	background-color: darkgray;
}

.subheader {
	height: 65px;
	width: 100%;
	background-color: white;
}