@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "pnotify/pnotify.core";
@import "pnotify/pnotify.picon";

@import "pages";
@import "loading_view";

body{
  background: #1f2427;
}

h2, .h2{
  color: white;
}

.item {
  margin: 8px;
  padding: 0;
  max-height: 210px;
}

.border {
  border: 1px solid white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: box-shadow;
  -moz-transition: box-shadow;
  transition: box-shadow;
}

.caption {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  color: white;
  padding: 5px 10px 5px 20px;
}

.info {
  position: absolute;
  background-color: rgba(255,255,255,0.75);
  color: #212121;
  padding: 5px 10px 5px 10px;
  bottom: 0;
  width: 100%;
  height: 20%;

}

.info a{
  margin-top: 13px;
  display: block;
  font-size: 16px;
  color: #212121;
}

.header {
  width: 100%;
  height: 65px;
  background-color: darkgray;
}

.subheader {
  height: 65px;
  width: 100%;
  background-color: white;
}

.item img{
  width: 100%;
}

input{
  width: 250px;
height: 50px;
background: none;
border: none;
border-bottom: 1px solid white;
color: white !important;
text-align:right;
outline:none;
}

input:focus input:visited{
  border:none;
  outline:none;
}
